/* здесь используйте глобальные переменные */
$base-color-text: #444444;

$title-color-text: #000000;

$dark-gray-text: #222222;

$bg-basic-green: #68b738;

$bg-basic-grey: #f2f2f2;

$basic-white-text: #ffffff;
