/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";


/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/instruction.scss";
@import "./blocks/result.scss";
@import "./blocks/contacts.scss";
@import "./blocks/catalog.scss";
@import "./blocks/others.scss";
@import "./blocks/subscription.scss";
@import "./blocks/footer.scss";
