.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: $bg-basic-green;
  color: $basic-white-text;
  text-transform: uppercase;
  vertical-align: middle;
}
