.instruction {
  min-height: 600px;
}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $title-color-text;
  text-align: center;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instruction__item {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.instruction__item--icon-leaf {
  background-image: url("../../icons/stack.svg#icon-leaf");
}

.instruction__item--icon-hot-water {
  background-image: url("../../icons/stack.svg#icon-hot-water");
}

.instruction__item--icon-tableware {
  background-image: url("../../icons/stack.svg#icon-tableware");
}

.instruction__item--icon-clock {
  background-image: url("../../icons/stack.svg#icon-clock");
}

.instruction__content--icon-1 {
  background-image: url("../../icons/stack.svg#icon-1");
}

.instruction__content--icon-2 {
  background-image: url("../../icons/stack.svg#icon-2");
}

.instruction__content--icon-3 {
  background-image: url("../../icons/stack.svg#icon-3");
}

.instruction__content--icon-4 {
  background-image: url("../../icons/stack.svg#icon-4");
}

@media (min-width: $tablet-width) {
  .instruction__list {
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 280px 280px;
  }
}

@media (min-width: $desktop-width) {
  .instruction__list {
    display: flex;
    flex-wrap: nowrap;
  }
}
