.others__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $title-color-text;
  text-align: center;
}

.others__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $dark-gray-text;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.others__description {
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
}

.others__promo-content {
  width: 280px;
  height: 290px;
  background-color: $bg-basic-green;
  color: $basic-white-text;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
