.programs {
  color: $title-color-text;
  text-transform: uppercase;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
}


.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.programs__list {
  background-color: $bg-basic-grey;
}
