.programs {
  color: $title-color-text;
  text-transform: uppercase;
}

.programs__item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
}

.programs__link {
  position: relative;
}

.programs__link::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#icon-arrow");
  width: 32px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.programs__link:active {
  opacity: 0.3;
}

.programs__list {
  padding: 60px;
  background-color: $bg-basic-grey;
}

.programs__item--icon-cat-back {
  background-image: url("../../icons/stack.svg#icon-cat-back");
  background-size: 50px 53px;
}

.programs__item--icon-cat-back2 {
  background-image: url("../../icons/stack.svg#icon-cat-back2");
  background-size: 67px 50px;
}
