.result__caption {
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  text-align: center;
}

.result {
  background-color: $bg-basic-grey;
  font-family: "Oswald", sans-serif;
  color: $title-color-text;
  text-align: center;
}

.result__title {
  font-size: 36px;
  line-height: 40px;
}


.result__content {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $title-color-text;
}


.costs {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $title-color-text;
  font-weight: 700;
}
