.subscription {
  font-family: "Oswald", sans-serif;
}


.subscription__title {
  font-size: 24px;
  line-height: 24px;
  color: $title-color-text;
  text-align: center;
}

.subscription__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  color: $title-color-text;
}

.subscription__input {
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
}
